# TODO: Clave pública de Stripe (reemplazar con la real)
VITE_STRIPE_PUBLIC_KEY=pk_live_51NcotfGLGIrRJxc3uuxDXN4IeTYhmJCy0QONwhyP72sTmnpJrXTz4YzKJZq6WvUc0p5Wa37M3I6Vu76jBNWXwyT700Yy1ISlX0

# TODO: URL de la API backend (Laravel/Livewire)
VITE_API_BASE_URL=https://newmindstart.com/api

# TODO: Token de autenticación
VITE_API_TOKEN=

# TODO: Clave de API para servicio de email (SendGrid, etc.)
VITE_EMAIL_SERVICE_KEY=